<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5410/mastermind</property>
        <!-- Log SQL queries -->
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <!--property name="hbm2ddl.auto">validate</property-->
        <!-- MAPPINGS -->
        <mapping class="to2.persistance.User"/>
    </session-factory>
</hibernate-configuration>